@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* 
*           Layout stylesheet
* ======================================
* Project:     TRIQ
* Version:     1.0
* Last change: 10/20/2012
* Author:      Oskar Zabik
* Author URI:  oskar.zabik@gmail.com
* --------------------------------------
*           Table of contents
* ======================================
* 
* $BEFORE_NAVBAR - signup/short contact row
* $NAVBAR - navigation
* $GLOBAL
*     $$SHOWCASE
*     $$BACKGROUNDS
*     $$ANIMATED-MENUS
*     $$HOMEPAGE-ELEMENTS
*     $$QUOTES
*     $$FONT-ICON-COLORS
*     $$ICON-SQUARED - css3 animated icons
*     $$CAROUSEL
*     $$BUTTON_STYLES
* $FOOTER
* $FONTS
*     $$FONT-GLOBALS
*     $$FONT-BLOG
*     $$FONT-BLOG
* $BLOG
* $PORTFOLIO
*     $$FULL-WIDTH
*     $$THUMNAILS
* $CONTACT
*/
/* $BEFORE-NAVBAR */
.before-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.before-navbar a {
  position: relative;
  top: 4px;
  margin-right: 3px;
}
.before-navbar p {
  margin-top: 2px;
  margin-bottom: 5px;
}

/* $NAVBAR */
.navbar .btn {
  margin-top: 10px;
}

.navbar .nav.pull-right {
  margin-right: -12px;
}

.navbar .nav > li > a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 20px 15px;
  color: #999999;
  text-shadow: none;
}
.navbar .nav > li > a:hover {
  color: inherit;
}
.navbar .nav > li.active > a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  color: #333333;
}
.navbar .nav > li.active > a:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: inherit;
  color: #333333;
}

.navbar-inner {
  border: none;
  background: white;
  background-image: none;
  box-shadow: none;
}
.navbar-inner .brand {
  padding: 12px 20px 10px;
}

/* Dropdowns */
.dropdown-menu {
  margin-top: 11px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: #333333;
}

.sticky {
  position: fixed;
  top: -100px;
}

/* $GLOBAL */
body {
  padding-top: 90px;
  background: #f7f8f9;
}

.well {
  background: #fff;
}

.ul-centered {
  overflow: hidden;
  width: 100%;
}
.ul-centered ul {
  position: relative;
  left: 50%;
  float: left;
}
.ul-centered ul li {
  position: relative;
  left: -50%;
}

/* $$SHOWCASE */
.showcase-container .text-wraper {
  margin: 0 auto;
  width: 1170px;
}
.showcase-container .text-wraper .text {
  position: absolute;
  max-width: 50%;
}
.showcase-container .text-wraper .text p, .showcase-container .text-wraper .text h1, .showcase-container .text-wraper .text h2, .showcase-container .text-wraper .text h3, .showcase-container .text-wraper .text h4, .showcase-container .text-wraper .text h5 {
  padding-right: 40px;
}

/* $$BACKGROUNDS */
.background-white {
  padding: 10px 0;
  background: #fff;
}

.background-light-grey {
  padding: 10px 0;
  background: #f3f3f3;
}

.background-grey {
  padding: 10px 0;
  background: #333;
}

.background-dark {
  padding: 10px 0;
  background: #111;
}

.background-blue {
  padding: 10px 0;
  background: #e7f4f8;
}

/* $$ANIMATED-MENUS */

.ca-menu2 li {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    height: 300px;
    width: 100px;
    background: #f7f8f9;
}

.ca-menu li {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  height: 300px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.ca-menu li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  text-align: left;
}

.ca-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  color: #333;
  text-align: center;
  text-shadow: 0px 0px 1px #333;
  font-size: 60px;
  font-family: 'WebSymbolsRegular', cursive;
  line-height: 150px;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.ca-icon#heart {
  color: #f7002f;
  text-shadow: 0px 0px 1px #f7002f;
}

.ca-content {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 50%;
}

.ca-main {
  text-align: center;
  font-size: 30px;
  opacity: 0.8;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.ca-sub {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #666;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  opacity: 0.8;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.ca-menu li:hover, .ca-menu li.active {
  z-index: 999;
  background-color: #333;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.ca-menu li:hover .ca-icon {
  color: #2f96b4;
  font-size: 90px;
}

.ca-menu li:hover .ca-icon#heart {
  -webkit-animation: smallToBig 900ms alternate infinite ease;
  -moz-animation: smallToBig 900ms alternate infinite ease;
  -ms-animation: smallToBig 900ms alternate infinite ease;
  animation: smallToBig 900ms alternate infinite ease;
}

.ca-menu li.active .ca-icon#heart {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

.ca-menu li:hover .ca-main {
  color: #FFF;
  -webkit-animation: smallToBig 300ms ease;
  -moz-animation: smallToBig 300ms ease;
  -ms-animation: smallToBig 300ms ease;
  animation: smallToBig 300ms ease;
}

.ca-menu li.active .ca-main {
  color: #FFF;
  transform: scale(1);
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

.ca-menu li:hover .ca-sub {
  color: #FFF;
  -webkit-animation: moveFromBottom 500ms ease;
  -moz-animation: moveFromBottom 500ms ease;
  -ms-animation: moveFromBottom 500ms ease;
  animation: moveFromBottom 500ms ease;
}

.ca-menu li.active .ca-sub {
  color: #FFF;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

/* animations used in ca-menu */
@-webkit-keyframes smallToBig {
  from {
    -webkit-transform: scale(0.1);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes smallToBig {
  from {
    -moz-transform: scale(0.1);
  }

  to {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes smallToBig {
  from {
    -ms-transform: scale(0.1);
  }

  to {
    -ms-transform: scale(1);
  }
}

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(0%);
  }
}

@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%);
  }

  to {
    -moz-transform: translateY(0%);
  }
}

@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(100%);
  }

  to {
    -ms-transform: translateY(0%);
  }
}

/* $$HOMEPAGE-ELEMENTS */
.featured {
  padding: 40px 0;
  height: 100%;
  vertical-align: middle;
}
.featured .excerpt {
  height: 100%;
  vertical-align: middle;
}
.featured img {
  max-width: 100%;
}

.testimonials {
  padding: 40px 0;
}

.info-centered {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.info-centered p {
  display: inline-block;
  margin-top: 28px;
  margin-right: 15px;
  vertical-align: top;
}

.strip {
  padding: 20px 0;
}
.strip p {
  margin-top: 8px;
  margin-bottom: 0;
}

/* $$QUOTES */
.quote-cloud {
  margin: 40px 0;
}
.quote-cloud .attribution {
  position: relative;
  padding: 20px 100px 20px 20px;
  text-align: right;
}
.quote-cloud .thumb {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: block;
  width: 70px;
  height: 70px;
  border: 5px solid #fff;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.4);
}

.quote-cloud blockquote {
  position: relative;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: inset 0 2px 0 rgba(204, 204, 204, 0.7), -4px -3px 20px rgba(0, 0, 0, 0.2);
}
.quote-cloud blockquote:after, .quote-cloud blockquote:before {
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: " ";
  pointer-events: none;
}
.quote-cloud blockquote:after {
  top: 100%;
  right: 40px;
  margin-left: -10px;
  border-width: 10px;
  border-top-color: #fff;
}
.quote-cloud blockquote:before {
  left: 65%;
  margin-left: -11px;
  border-width: 11px;
  border-top-color: rgba(0, 0, 0, 0.01);
}

.quote-cloud blockquote p {
  position: relative;
}
.quote-cloud blockquote p:before {
  position: absolute;
  top: 0px;
  left: -105px;
  color: #333333;
  content: '\201C';
  text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-style: normal;
  font-size: 175px;
  font-family: serif;
}

/* dont make font icons underlined on hover inside link */
a > i {
  color: #666666;
  font-size: 24px;
}
a > i:hover {
  text-decoration: none;
}

/* $$FONT-ICON-COLORS */
a:hover > i.hover-color-facebook {
  color: #3B5998;
}

a:hover > i.hover-color-twitter {
  color: #00ACED;
}

a:hover > i.hover-color-pinterest {
  color: #CB2027;
}

a:hover > i.hover-color-github {
  color: #4183C4;
}

a:hover > i.hover-color-linkedin {
  color: #3399CC;
}

.color-facebook {
  color: #3B5998;
}

.color-twitter {
  color: #00ACED;
}

.color-pinterest {
  color: #CB2027;
}

.color-github {
  color: #4183C4;
}

.color-linkedin {
  color: #3399CC;
}

.color-vioblue {
  color: #9b8cf8;
}

.color-violet {
  color: #b14eb9
}

.color-pinkoran {
     color: #e92155;
 }

.color-orange {
    color: #fb4422;
}

/* $$ICON-SQUARED */
a.icon-squared {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
}
a.icon-squared i {
  font-size: 36px;
  line-height: 40px;
}
a.icon-squared article {
  -webkit-transition: -webkit-transform 0.4s linear, background-color 0s linear, color 0s linear;
  -webkit-transition-delay: 0s, 0.2s, 0.2s;
  -moz-transition: -moz-transform 0.4s linear, background-color 0s linear 0.2s, color 0s linear 0.2s;
  -o-transition: -o-transform 0.4s linear, background-color 0s linear 0.2s, color 0s linear 0.2s;
  transition: transform 0.4s linear, background-color 0s linear 0.2s, color 0s linear 0.2s;
  -webkit-transform: perspective(300px) rotateY(0deg);
  -moz-transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -o-transform: perspective(300px) rotateY(0deg);
  transform: perspective(300px) rotateY(0deg);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333;
  box-shadow: 0 0 6px -2px black, 0 0 45px -20px black;
  color: #fff;
  line-height: 90px;
  cursor: pointer;
}
a.icon-squared span {
  display: block;
  transition: transform 0s linear 0.2s, text-shadow 0s linear 0.2s;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: antialiased;
}

a.icon-squared:hover article {
  -webkit-transition: -webkit-transform 0.2s linear, background-color 0s linear, color 0s linear;
  -webkit-transition-delay: 0s, 0.1s, 0.1s;
  -moz-transition: -moz-transform 0.2s linear, background-color 0s linear 0.1s, color 0s linear 0.1s;
  -o-transition: -o-transform 0.2s linear, background-color 0s linear 0.1s, color 0s linear 0.1s;
  transition: transform 0.2s linear, background-color 0s linear 0.1s, color 0s linear 0.1s;
  -webkit-transform: perspective(300px) rotateY(180deg);
  -moz-transform: perspective(300px) rotateY(180deg);
  -ms-transform: perspective(300px) rotateY(180deg);
  -o-transform: perspective(300px) rotateY(180deg);
  transform: perspective(300px) rotateY(180deg);
  color: #eee;
}

a.icon-squared:hover span {
  -webkit-transition: -webkit-transform 0s linear, text-shadow 0s linear;
  -webkit-transition-delay: 0.1s, 0.1s;
  -moz-transition: -moz-transform 0s linear 0.1s, text-shadow 0s linear 0.1s;
  -o-transition: -o-transform 0s linear 0.1s, text-shadow 0s linear 0.1s;
  transition: transform 0s linear 0.1s, text-shadow 0s linear 0.1s;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

a.icon-squared.color-facebook:hover article {
  background-color: #3B5998;
}

a.icon-squared.color-twitter:hover article {
  background-color: #00ACED;
}

a.icon-squared.color-pinterest:hover article {
  background-color: #CB2027;
}

a.icon-squared.color-github:hover article {
  background-color: #4183C4;
}

a.icon-squared.color-linkedin:hover article {
  background-color: #3399CC;
}

/* $$CAROUSEL */
.carousel-control {
  top: 50%;
  border: none;
  background: none;
  color: #333;
}
.carousel-control:hover {
  color: inherit;
}

.carousel {
  border: 3px solid #FFF;
}
.carousel .item {
  margin: 0 auto;
}
.carousel.add-shadow:after {
  position: absolute;
  left: 50%;
  display: block;
  margin: 3px auto;
  margin-left: -390px;
  width: 957px;
  height: 43px;
  background: url(../img/slider_shadow_medium.png) no-repeat;
  content: "";
}

/* $$BUTTON-STYLES */
.btn-simple {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 30px;
  border: none;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-wide {
  display: block;
  margin: 20px 0 20px;
  width: 100%;
}

.btn-huge {
  padding: 8px 50px;
}

.btn-arrow-right {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
}
.btn-arrow-right:after {
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #fe690f;
  content: "";
}

.btn-orange {
  background: #fe690f;
  color: #fff;
}
.btn-orange:hover {
  background: #fe690f;
}
.btn-orange:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-orange.btn-huge {
  position: relative;
  left: -40px;
  margin-top: 40px;
  padding: 30px 60px;
}
.btn-orange.btn-huge.btn-arrow-right:after {
  right: -40px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #fe690f;
}

.btn-blue {
  background: #2f96b4;
  color: #fff;
}
.btn-blue:hover {
  background: #2f96b4;
}
.btn-blue:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-blue.btn-huge {
  position: relative;
  left: -40px;
  margin-top: 40px;
  padding: 30px 60px;
}
.btn-blue.btn-huge.btn-arrow-right:after {
  right: -40px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #2f96b4;
}

/* $FOOTER */
.footer {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
}
.footer a {
  color: #666;
}
.footer p {
  margin-bottom: 0;
  color: #666;
}
.footer #footer-nav {
  margin-top: 40px;
}
.footer #footer-nav h3 {
  position: relative;
  top: -5px;
}
.footer #footer-nav li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #333;
  color: white;
  text-align: center;
  font-size: 130%;
}
.footer #footer-nav li a .caret {
  position: absolute;
  left: 10px;
  top: 10px;
  border-width: 10px;
  border-top-color: rgba(255, 255, 255, 0.8);
  border-bottom-color: rgba(255, 255, 255, 0.8);
}
.footer #footer-nav .dropdown-menu {
  position: relative;
  display: block;
  width: auto;
  float: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 45px;
  margin-top: 0;
}

/* $FONTS */
/* $$FONT-GLOBALS */
.navbar .nav > li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
}

p {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.centered {
  text-align: center;
}

h1.page-header,
h2.page-header,
h3.page-header,
h4.page-header,
h5.page-header {
  text-align: center;
  font-weight: 700;
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
}

h1.page-header {
  margin: 30px 0 50px;
  padding-bottom: 30px;
  font-size: 48px;
  line-height: 68px;
}

h2.page-header {
  color: #333333;
  font-size: 36px;
}

.well h1, .well h2, .well h3, .well h4, .well h5 {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: 700;
}
.well p {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: 300;
}

.featured h1 {
  text-transform: uppercase;
}
.featured h1, .featured h2, .featured h3, .featured h4, .featured h5 {
  font-weight: 700;
  font-size: 68px;
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
  line-height: 60px;
}
.featured h2 {
  font-size: 58px;
}
.featured h3 {
  font-size: 56px;
}
.featured h4 {
  font-size: 48px;
}
.featured h5 {
  font-size: 36px;
}
.featured p {
  font-size: 18px;
  font-family: 'PT Sans', Helvetica, sans-serif;
  line-height: 32px;
}

.testimonials h1, .testimonials h2, .testimonials h3, .testimonials h4, .testimonials h5 {
  text-align: center;
  font-weight: 700;
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
}
.testimonials p {
  color: #777;
  font-weight: 300;
  font-weight: 300;
  font-size: 16px;
  font-family: 'PT Sans', Helvetica, sans-serif;
}

.background-grey {
  color: #F2F2F2;
}

.strip p, .strip button, .strip a {
  font-weight: 400;
  font-family: 'PT Sans', Helvetica, sans-serif;
}
.strip p {
  font-size: 16px;
}

.quote-cloud cite {
  color: #fff;
  font-weight: 700;
  font-style: italic;
  font-family: 'Alegreya', serif;
}
.quote-cloud .author {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  font-weight: 700;
  font-size: 22px;
  font-family: 'Alegreya SC', serif;
}
.quote-cloud blockquote p {
  color: #333;
  text-indent: 100px;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  font-family: 'Alegreya', serif;
  line-height: 40px;
}

.info-centered p {
  font-weight: 400;
  font-size: 30px;
  font-family: 'Lato', Helvetica, sans-serif;
}

/* $$FONT-BLOG */
.blog-excerpt h1, .blog-excerpt h2, .blog-excerpt .posted-on {
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
}
.blog-excerpt h1 a, .blog-excerpt h2 a, .blog-excerpt .posted-on a {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  color: inherit;
  text-decoration: none;
}
.blog-excerpt h1 a:hover, .blog-excerpt h2 a:hover, .blog-excerpt .posted-on a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.blog-excerpt h2 {
  text-transform: uppercase;
  font-size: 90px;
  line-height: 80px;
}
.blog-excerpt .posted-on {
  font-weight: 700;
  font-size: 48px;
  line-height: 30px;
}
.blog-excerpt .posted-on span {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
.blog-excerpt .content p {
  font-size: 16px;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  line-height: 24px;
}

/* $$FONT-PORTFOLIO */
.portfolio-item .desc h2 {
  color: white;
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
}

/* $NEWS and CODE BREAKER */
.blog-excerpt {
  position: relative;
  margin-bottom: 100px;
}
.blog-excerpt .title-block {
  position: relative;
}
.blog-excerpt .title-block .posted-on {
  display: block;
  padding: 20px 30px;
  color: #111;
}
.blog-excerpt .title-block .posted-on span {
  display: block;
}
.blog-excerpt .title-dark {
  background: #111;
  color: #eee;
}
.blog-excerpt .title-dark .posted-on {
  background: #eee;
}
.blog-excerpt .title-blue {
  background: #2f96b4;
  color: #fff;
}
.blog-excerpt .title-blue .posted-on {
  background: #fff;
}
.blog-excerpt .title-lightgrey {
    background: #b8b8b8;
    color: #fff;
}
.blog-excerpt .title-lightgrey .posted-on {
    background: #fff;
}
.blog-excerpt .title-vioblue {
    background: #9b8cf8;
    color: #fff;
}
.blog-excerpt .title-vioblue .posted-on {
    background: #fff;
}
.blog-excerpt .title-violet {
    background: #b24db8;
    color: #fff;
}
.blog-excerpt .title-violet .posted-on {
    background: #fff;
}

.blog-excerpt .title-pinkoran {
    background: #e92155;
    color: #fff;
}
.blog-excerpt .title-pinkoran .posted-on {
    background: #fff;
}
.blog-excerpt .title-orange {
    background: #fb4422;
    color: #fff;
}
.blog-excerpt .title-orange .posted-on {
    background: #fff;
}
.blog-excerpt .title-block {
  padding: 80px 40px;
}

/* Title left */
.blog-excerpt.title-left .title-block .posted-on {
  position: absolute;
  top: -10px;
  right: -20px;
}
.blog-excerpt.title-left .title-block .posted-on:after {
  /* add ribbon */
  position: absolute;
  right: 0;
  bottom: -40px;
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid #595959;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  content: "";
}
.title-right .blog-excerpt.title-left .title-block .posted-on:after {
  left: 0;
}
.blog-excerpt.title-left .content img {
  position: relative;
  max-width: 480px;
  left: -30px;
  z-index: -1;
  margin-bottom: 15px;
}

/* Title right */
.blog-excerpt.title-right {
  text-align: right;
}
.blog-excerpt.title-right .title-block .posted-on {
  position: absolute;
  top: -10px;
  left: -20px;
}
.blog-excerpt.title-right .title-block .posted-on:after {
  /* add ribbon */
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid #595959;
  border-left: 20px solid transparent;
  content: "";
}
.title-right .blog-excerpt.title-right .title-block .posted-on:after {
  left: 0;
}
.blog-excerpt.title-right .content img {
  position: relative;
  max-width: 480px;
  right: 0;
  z-index: -1;
  margin-bottom: 15px;
}

.pagination > ul > li:first-child > a,
.pagination > ul > li:last-child > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.pagination > ul > li > a {
  background-color: #eee;
  color: #333;
  border-color: #CCC;
}

/* $PORTFOLIO */
/* $$FULL-WIDTH */
.portfolio-item {
  margin-top: 35px;
  margin-bottom: 35px;
}
.portfolio-item .image-wrapper {
  position: absolute;
  overflow: hidden;
  max-width: 50%;
  max-height: 500px;
}
.portfolio-item .image-wrapper img {
  display: inline-block;
  float: left;
  max-height: inherit;
}
.portfolio-item .image-wrapper a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(204, 204, 204, 0.4);
  text-align: center;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.portfolio-item .image-wrapper a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
}
.portfolio-item .image-wrapper a span {
  position: relative;
  top: 50%;
  padding: 5px 10px;
  background: #2f96b4;
  color: white;
}
.portfolio-item .desc {
  display: table-cell;
  vertical-align: middle;
}
.portfolio-item .left.text {
  position: relative;
  display: table;
  float: left;
  width: 450px;
  height: inherit;
  text-align: right;
}
.portfolio-item .right.text {
  position: relative;
  display: table;
  float: right;
  width: 450px;
  height: inherit;
  text-align: left;
}

.portfolio-item.full-width {
  height: 500px;
}
.portfolio-item.full-width .left .desc:before {
  /* add stripe behind the title */
  position: absolute;
  z-index: -99999999;
  display: block;
  margin-top: 8px;
  padding-right: 35px;
  width: 100%;
  height: 50px;
  background: #968cf8;
  content: "";
}
.portfolio-item.full-width .left .image-wrapper {
  left: 0;
}
.portfolio-item.full-width .right .desc:before {
  /* add stripe behind the title */
  position: absolute;
  right: 0;
  z-index: -99999999;
  display: block;
  margin-top: 8px;
  padding-left: 35px;
  width: 100%;
  height: 50px;
  background: #e92155;
  content: "";
}
.portfolio-item.full-width .right .image-wrapper {
  right: 0;
}

/* $$THUMBNAILS */
#portfolio-nav li {
  text-align: right;
}
#portfolio-nav li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: none;
  background: #111;
  color: #fff;
}

.portfolio-thumbnails .portfolio-item {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-top: 0;
  height: 155px;
}
.portfolio-thumbnails .portfolio-item .image-wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.portfolio-thumbnails .portfolio-item .image-wrapper img {
  max-width: 245px;
}

/* $CONTACT */
#contact-map {
  width: 100%;
}
